<a href="https://colab.research.google.com/github/iradatu/phythonprojects/blob/main/UNIT_4_Iradatu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Early readmission prediction

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.DataFrame(pd.read_csv('/content/diabetic_data.csv'))
data.head

<bound method NDFrame.head of         encounter_id  patient_nbr  ... diabetesMed readmitted
0            2278392      8222157  ...          No         NO
1             149190     55629189  ...         Yes        >30
2              64410     86047875  ...         Yes         NO
3             500364     82442376  ...         Yes         NO
4              16680     42519267  ...         Yes         NO
...              ...          ...  ...         ...        ...
101761     443847548    100162476  ...         Yes        >30
101762     443847782     74694222  ...         Yes         NO
101763     443854148     41088789  ...         Yes         NO
101764     443857166     31693671  ...         Yes         NO
101765     443867222    175429310  ...          No         NO

[101766 rows x 50 columns]>

In [ ]:
data = data.replace("?", np.nan)
data.info

<bound method DataFrame.info of         encounter_id  patient_nbr  ... diabetesMed readmitted
0            2278392      8222157  ...          No         NO
1             149190     55629189  ...         Yes        >30
2              64410     86047875  ...         Yes         NO
3             500364     82442376  ...         Yes         NO
4              16680     42519267  ...         Yes         NO
...              ...          ...  ...         ...        ...
101761     443847548    100162476  ...         Yes        >30
101762     443847782     74694222  ...         Yes         NO
101763     443854148     41088789  ...         Yes         NO
101764     443857166     31693671  ...         Yes         NO
101765     443867222    175429310  ...          No         NO

[101766 rows x 50 columns]>

In [ ]:
data.isnull().sum()[data.isnull().sum()>1]/len(data)*100

race                  2.233555
weight               96.858479
payer_code           39.557416
medical_specialty    49.082208
diag_1                0.020636
diag_2                0.351787
diag_3                1.398306
dtype: float64

In [ ]:
data.drop(['weight','payer_code','medical_specialty'],axis=1,inplace=True)

In [ ]:
data['readmitted'].unique()

array(['NO', '>30', '<30'], dtype=object)

In [ ]:
data = data.replace({"NO":0,
                         "<30":1,
                         ">30":0})
data.readmitted.value_counts()

0    90409
1    11357
Name: readmitted, dtype: int64

In [ ]:
data.race.unique()

array(['Caucasian', 'AfricanAmerican', nan, 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [ ]:

data.race.value_counts(normalize = True) * 100

Caucasian          76.486788
AfricanAmerican    19.307891
Hispanic            2.047380
Other               1.513674
Asian               0.644266
Name: race, dtype: float64

In [ ]:
# set hispanic and asian as other
mapped_race = {"Asian":"Other","Hispanic":"Other"}
data.race = data.race.replace(mapped_race)
data.race.value_counts(normalize = True) * 100

Caucasian          76.486788
AfricanAmerican    19.307891
Other               4.205321
Name: race, dtype: float64

In [ ]:
# Gender

In [ ]:
data.gender.value_counts(normalize = True)

Female             0.537586
Male               0.462384
Unknown/Invalid    0.000029
Name: gender, dtype: float64

In [ ]:
data = data.drop(data.loc[data["gender"]=="Unknown/Invalid"].index, axis=0)
data.gender.value_counts(normalize = True)

Female    0.537602
Male      0.462398
Name: gender, dtype: float64

In [ ]:
# Age

In [ ]:
data.age.value_counts(normalize = True)

[70-80)     0.256144
[60-70)     0.220925
[50-60)     0.169570
[80-90)     0.168991
[40-50)     0.095172
[30-40)     0.037096
[90-100)    0.027446
[20-30)     0.016283
[10-20)     0.006790
[0-10)      0.001582
Name: age, dtype: float64

In [ ]:
data.age = data.age.replace({"[70-80)":75,
                         "[60-70)":65,
                         "[50-60)":55,
                         "[80-90)":85,
                         "[40-50)":45,
                         "[30-40)":35,
                         "[90-100)":95,
                         "[20-30)":25,
                         "[10-20)":15,
                         "[0-10)":5})

In [ ]:
data.age.value_counts(normalize = True)*100

75    25.614418
65    22.092509
55    16.957047
85    16.899069
45     9.517212
35     3.709600
95     2.744612
25     1.628293
15     0.679029
5      0.158211
Name: age, dtype: float64

In [ ]:
# Admission type

In [ ]:
data.admission_type_id.value_counts(normalize = True)*100

1    53.052681
3    18.541120
2    18.159842
6     5.199336
5     4.702102
8     0.314456
7     0.020636
4     0.009827
Name: admission_type_id, dtype: float64

In [ ]:
mapped = {1.0:"Emergency",
          2.0:"Emergency",
          3.0:"Elective",
          4.0:"New Born",
          5.0:np.nan,
          6.0:np.nan,
          7.0:"Trauma Center",
          8.0:np.nan}

data.admission_type_id = data.admission_type_id.replace(mapped)
data.admission_type_id.value_counts(normalize = True)*100

Emergency        79.315289
Elective         20.650782
Trauma Center     0.022984
New Born          0.010945
Name: admission_type_id, dtype: float64

In [ ]:
# Disposition id

In [ ]:
data['discharge_disposition_id'].unique()

array([25,  1,  3,  6,  2,  5, 11,  7, 10,  4, 14, 18,  8, 13, 12, 16, 17,
       22, 23,  9, 20, 15, 24, 28, 19, 27])

In [ ]:
mapped_discharge = {1:"Discharged to Home",
                    6:"Discharged to Home",
                    8:"Discharged to Home",
                    13:"Discharged to Home",
                    19:"Discharged to Home",
                    18:np.nan,25:np.nan,26:np.nan,
                    2:"Other",3:"Other",4:"Other",
                    5:"Other",7:"Other",9:"Other",
                    10:"Other",11:"Other",12:"Other",
                    14:"Other",15:"Other",16:"Other",
                    17:"Other",20:"Other",21:"Other",
                    22:"Other",23:"Other",24:"Other",
                    27:"Other",28:"Other",29:"Other",30:"Other"}

data["discharge_disposition_id"] = data["discharge_disposition_id"].replace(mapped_discharge)

In [ ]:
data['discharge_disposition_id'].unique()

array([nan, 'Discharged to Home', 'Other'], dtype=object)

In [ ]:
data['admission_source_id'].unique()

In [ ]:
mapped_adm = {1:"Referral",2:"Referral",3:"Referral",
              4:"Other",5:"Other",6:"Other",10:"Other",22:"Other",25:"Other",
              9:"Other",8:"Other",14:"Other",13:"Other",11:"Other",
              15:np.nan,17:np.nan,20:np.nan,21:np.nan,
              7:"Emergency"}
data.admission_source_id = data.admission_source_id.replace(mapped_adm)

In [ ]:
data['admission_source_id'].unique()

array(['Referral', 'Emergency', 'Other', nan], dtype=object)

In [ ]:
def map_diagnosis(data, cols):
    for col in cols:
        data.loc[(data[col].str.contains("V")) | (data[col].str.contains("E")), col] = -1
        data[col] = data[col].astype(np.float16)

    for col in cols:
        data["temp_diag"] = np.nan
        data.loc[(data[col]>=390) & (data[col]<=459) | (data[col]==785), "temp_diag"] = "Circulatory"
        data.loc[(data[col]>=460) & (data[col]<=519) | (data[col]==786), "temp_diag"] = "Respiratory"
        data.loc[(data[col]>=520) & (data[col]<=579) | (data[col]==787), "temp_diag"] = "Digestive"
        data.loc[(data[col]>=250) & (data[col]<251), "temp_diag"] = "dataes"
        data.loc[(data[col]>=800) & (data[col]<=999), "temp_diag"] = "Injury"
        data.loc[(data[col]>=710) & (data[col]<=739), "temp_diag"] = "Muscoloskeletal"
        data.loc[(data[col]>=580) & (data[col]<=629) | (data[col] == 788), "temp_diag"] = "Genitourinary"
        data.loc[(data[col]>=140) & (data[col]<=239), "temp_diag"] = "Neoplasms"

        data["temp_diag"] = data["temp_diag"].fillna("Other")
        data[col] = data["temp_diag"]
        data = data.drop("temp_diag", axis=1)

    return data

In [ ]:
data = map_diagnosis(data,["diag_1","diag_2","diag_3"])

In [ ]:
data.change.value_counts()

No    54754
Ch    47009
Name: change, dtype: int64

In [ ]:
data.change = data.change.replace("Ch","Yes")

In [ ]:
data["max_glu_serum"] = data["max_glu_serum"].replace({">200":2,
                                                        ">300":2,
                                                        "Norm":1,
                                                        "None":0}) 
data["A1Cresult"] = data["A1Cresult"].replace({">7":2,
                                           ">8":2,
                                           "Norm":1,
                                           "None":0})

data['race'] = data['race'].fillna(data['race'].mode()[0])
data['admission_type_id'] = data['admission_type_id'].fillna(data['admission_type_id'].mode()[0])
data['discharge_disposition_id'] = data['discharge_disposition_id'].fillna(data['discharge_disposition_id'].mode()[0])
data['admission_source_id'] = data['admission_source_id'].fillna(data['admission_source_id'].mode()[0])

In [ ]:
data.head()

   encounter_id  patient_nbr             race  ... change  diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No           No          0
1        149190     55629189        Caucasian  ...    Yes          Yes          0
2         64410     86047875  AfricanAmerican  ...     No          Yes          0
3        500364     82442376        Caucasian  ...    Yes          Yes          0
4         16680     42519267        Caucasian  ...    Yes          Yes          0

[5 rows x 47 columns]

In [ ]:
cat_data = data.select_dtypes('O')

num_data = data.select_dtypes(np.number)

cat_data

                   race  gender  ... change diabetesMed
0             Caucasian  Female  ...     No          No
1             Caucasian  Female  ...    Yes         Yes
2       AfricanAmerican  Female  ...     No         Yes
3             Caucasian    Male  ...    Yes         Yes
4             Caucasian    Male  ...    Yes         Yes
...                 ...     ...  ...    ...         ...
101761  AfricanAmerican    Male  ...    Yes         Yes
101762  AfricanAmerican  Female  ...     No         Yes
101763        Caucasian    Male  ...    Yes         Yes
101764        Caucasian  Female  ...    Yes         Yes
101765        Caucasian    Male  ...     No          No

[101763 rows x 33 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for i in cat_data:
  cat_data[i] = le.fit_transform(cat_data[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data = pd.concat([num_data,cat_data],axis=1)
data.head()

   encounter_id  patient_nbr  age  ...  metformin-pioglitazone  change  diabetesMed
0       2278392      8222157    5  ...                       0       0            0
1        149190     55629189   15  ...                       0       1            1
2         64410     86047875   25  ...                       0       0            1
3        500364     82442376   35  ...                       0       1            1
4         16680     42519267   45  ...                       0       1            1

[5 rows x 47 columns]

In [ ]:
data.drop(['encounter_id','patient_nbr'],axis=1,inplace=True)
data.head()

   age  time_in_hospital  ...  change  diabetesMed
0    5                 1  ...       0            0
1   15                 3  ...       1            1
2   25                 2  ...       0            1
3   35                 2  ...       1            1
4   45                 1  ...       1            1

[5 rows x 45 columns]

In [ ]:
X = data.drop('readmitted',axis=1)

y = data['readmitted']

In [ ]:
# train and test split

In [ ]:
import statsmodels.api as sm

from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=1)

In [ ]:
SC = StandardScaler()

X_train_scaled = pd.DataFrame(SC.fit_transform(X_train),columns=X_train.columns)
X_test_scaled = pd.DataFrame(SC.transform(X_test),columns=X_test.columns)

In [ ]:
# Random forest

In [ ]:
RF = RandomForestClassifier()

RF.fit(X_train_scaled,y_train)

RandomForestClassifier()

In [ ]:
y_pred = RF.predict(X_test_scaled)
train_score_rf = RF.score(X_train_scaled,y_train)
test_score_rf = RF.score(X_test_scaled,y_test)

print('Training Accuracy is :',train_score_rf)
print('Testing Accuracy is:',test_score_rf)
print(classification_report(y_test,y_pred))

Training Accuracy is : 0.9999344878038128
Testing Accuracy is: 0.8869018374766631
              precision    recall  f1-score   support

           0       0.89      1.00      0.94      9031
           1       0.39      0.01      0.02      1146

    accuracy                           0.89     10177
   macro avg       0.64      0.50      0.48     10177
weighted avg       0.83      0.89      0.84     10177

In [ ]:
# KNN

In [ ]:
knn = KNeighborsClassifier()
knn.fit(X_train_scaled,y_train)
y_pred_knn = knn.predict(X_test_scaled)
Train_Score_knn = knn.score(X_train_scaled,y_train)
Test_Score_knn = accuracy_score(y_test,y_pred_knn)

print('Training Accuracy is :',Train_Score_knn)
print('Testing Accuracy is:',Test_Score_knn)
print(classification_report(y_test,y_pred_knn))

Training Accuracy is : 0.8949184373157469
Testing Accuracy is: 0.8784514100422521
              precision    recall  f1-score   support

           0       0.89      0.98      0.93      9031
           1       0.25      0.04      0.07      1146

    accuracy                           0.88     10177
   macro avg       0.57      0.51      0.50     10177
weighted avg       0.82      0.88      0.84     10177