<a href="https://colab.research.google.com/github/iradatu/phythonprojects/blob/main/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [10]:
favoritepets = ['rabbits', 'cats', 'dogs', 'hamsters', 'birds']

## 2.	Print out those variables by using a for loop

In [11]:
for pets in favoritepets:
  print(pets)

rabbits
cats
dogs
hamsters
birds

## 3.	Modify your for loop to add a message to your for loop.

In [112]:
favoritepets= ['rabbits', 'cats', 'dogs', 'hamsters', 'birds']
for pets in favoritepets: 
       print (pets.title() + ", are the best animals to cuddle with!")

Rabbits, are the best animals to cuddle with!
Cats, are the best animals to cuddle with!
Dogs, are the best animals to cuddle with!
Hamsters, are the best animals to cuddle with!
Birds, are the best animals to cuddle with!

## 4.	Use a for loop to print even numbers from 1-20.

In [29]:
for num in range (0,21,2):
  
  print(num)

0
2
4
6
8
10
12
14
16
18
20

In [30]:
numbers = list(range(0,21,2))
print(numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 5.	Sort your list in alphabetic order.

In [78]:
favoritepets=['rabbits','cats','dogs','hamsters','birds']
print(favoritepets)
mylist= list()
favoritepets.sort()
print(favoritepets)

['rabbits', 'cats', 'dogs', 'hamsters', 'birds']
['birds', 'cats', 'dogs', 'hamsters', 'rabbits']

## 6.	Print out the first three elements of your list.

In [86]:
petList= ['rabbits','cats','dogs','hamsters','birds']
first_three_elements= petList[0:3]
print(first_three_elements)

['rabbits', 'cats', 'dogs']

## 7.	Create a loop to print the last 2 elements of your list.

In [96]:
petList= ['rabbits','cats','dogs','hamsters','birds']
last_two_elements= petList[-2:]
print(last_two_elements)

['hamsters', 'birds']

In [114]:
for pets in petList:
  print (pets)

rabbits
cats
dogs
hamsters
birds